
<div class="container card">
    <div class="info-section">
        <div class="titulo-container sub-section">
            <div class="titulo">
                {{ titulo }}
            </div>
            <div class="sub-titulo">
                Fecha: {{entrenamiento.fecha}} {{entrenamiento.hora}}
            </div>
        </div>
        <div class="sub-section">
         <div class="title-info">
            <a class="title-info">Equipos convocados:</a>
            &nbsp; 
            <a class="info" *ngIf="!tieneEquipos()">No hay equipos convocados!</a> 
         </div>
            <div>
            <div class="lista" *ngFor="let equipo of equiposDelEvento;">
                <li>{{equipo.name}}</li>
            </div>
        </div>
    </div>
    <div class="btn-section section" [ngClass]="isSelected()">
        <div class="btn-pre-evento">
            <a class="btn" (click)="habilitarEquipos()"> + Equipo</a>
            <a class="btn" (click)="habilitarJugadores()"> + Participante</a>
            <a class="btn" (click)="cambiarCumplirFecha()">En Fecha</a>
            
        </div>
        <div [ngClass]="finalizadoClass()">
            <a class="btn" (click)="habilitarPasarLista()"> Pasar Lista</a>
            <a class="btn"> Calificar Entrenamiento</a>
        </div>
    </div>
    <div class="manage-section">
        <app-lista-equipos [ngClass]="listaEquiposEstilo()"
        (onUpdateEquiposEvent)="reloadEquipos($event)"
        (onCloseEquiposEvent)="deshabilitarTodo()"> </app-lista-equipos>
        
        <div [ngClass]="listaJugadoresEstilo()" >
            <div class="seleccion-title"><p>Seleccione los jugadores:</p></div>
            <div class="lista-seleccion" *ngFor="let jugador of jugadoresHablitados; index as i;">
                <p (click)="seleccionarJug(jugador)" [ngClass]="jugadoradd(jugador)">{{jugador.name}}</p>
            </div>
            <div class="aling-right">
            <a class="btn" (click)="agregarJugadores()"> Confirmar</a>
            </div>
        </div>

        <div [ngClass]="listaJugadoresPasarLista()" >
            <div class="seleccion-title">Seleccione los asistentes:</div>
            <div>
                <p>Info:</p>
                <p>Asistentes: {{ jugadoresPresentes.size }}</p>
                <p>Ausencias: {{ jugadoresDelEvento.size - jugadoresPresentes.size }}</p>
                <p>Ausencias por Lesion: {{ jugadoresLesionados }}</p>
            </div>
            <div class="list-selection-option">
                <a>Seleccionar Todos <input type="checkbox" [checked]="todosPresentes" 
                    (change)="todosPresentesChanged()"> </a>
                <a class="btn" (click)="invertirSeleccion()"> Invertir Seleccion</a>
            </div>
            
            <div class="lista-seleccion" *ngFor="let jugador of jugadoresDelEvento; index as i;">
                <div>
                    <p (click)="darPresent(jugador)" [ngClass]="jugadorPresent(jugador)">
                        {{jugador.name}} 
                        <ion-icon name="medical-outline" *ngIf="jugador.isIll"></ion-icon>
                    </p>
                </div>
            </div>
            <div class="aling-right">
            <a class="btn" (click)="agregarJugadores()"> Confirmar</a>
            </div>

            <div>
                <div>
                    <div class="lista-seleccion-calificar" *ngFor="let jugador of jugadoresPresentes; index as i;">
                        <div>
                            <p (click)="calificar(jugador)" [ngClass]="jugadorPresent(jugador)">
                                {{jugador.name}} 
                            </p>
        
                        </div>
                        
                    </div>
                    <div class="aling-right">
                    <a class="btn" (click)="agregarJugadores()"> Confirmar</a>
                    </div>
                </div>
                <div class="card-selection" [ngClass]="calificarVentana()">
                    <p>Selecciona una Calificacion:</p>
                    <div class="lista-seleccion-container">
                        <div class="lista-seleccion" *ngFor="let cal of calificaciones; index as i;">
                            <p (click)="calificarJugador(cal)">{{cal.name}} {{cal.valor}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            

            
        </div>

        
    
    </div>
</div>
