<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;}
</style>

  <app-nav-bar></app-nav-bar>

  <div class="main-conainer">
      <app-entrenamiento (click)="seleccionar(1)" [selected]="seleccion[0]"></app-entrenamiento>
      <app-entrenamiento (click)="seleccionar(2)" [selected]="seleccion[1]"></app-entrenamiento>
      <app-entrenamiento (click)="seleccionar(3)" [selected]="seleccion[2]"></app-entrenamiento>
      <app-entrenamiento (click)="seleccionar(4)" [selected]="seleccion[3]"></app-entrenamiento>
      <app-entrenamiento (click)="seleccionar(5)" [selected]="seleccion[4]"></app-entrenamiento>
  </div>

