<div class="container">
  <h3 class="title-page">
    Administra tus equipos!
  </h3>
  <div class="items">
    <li class="item">
      <ion-icon name="create-outline"></ion-icon> 
      Edita tus equipos.</li>
    <li class="item">
      <ion-icon name="person-add-outline"></ion-icon> 
      Agregar jugadores.</li>
    <li class="item">
      <ion-icon name="stats-chart-outline"></ion-icon> 
      Ver las estadisticas.</li>
    <li class="item">
      <ion-icon name="calendar-number-outline"></ion-icon>
      Crear una serie de entrenamientos.</li>
    <li class="item">
      <ion-icon name="send-outline"></ion-icon>
      Notificar a los jugadores.</li>
    <li class="item seleccionable">
      <ion-icon class="seleccionable" name="add-circle-outline"></ion-icon>
      Agregar Equipo.</li>
  </div>

  <div class="work-area">

  </div>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="peso">
      <th mat-header-cell *matHeaderCellDef>PESO</th>
      <td mat-cell *matCellDef="let element">{{element.peso}} kg</td>
    </ng-container>
  
    <!-- pos Column -->
    <ng-container matColumnDef="pos">
      <th mat-header-cell *matHeaderCellDef>POS</th>
      <td mat-cell *matCellDef="let element">{{element.pos}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="itemselected(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>